/* Lume's design system */
@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

/* Custom components */
@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";
@import "css/comments.css";

/* Theme tokens */
:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
  --font-family-ui: "Libre Baskerville", Georgia, serif;
  --font-family-display: "Libre Baskerville", Georgia, serif;
  --font-body: clamp(1rem, 5vw, 1.125rem) / 2.5 var(--font-family-ui);
  --font-ui: 1rem / 3.8 var(--font-family-ui);
  --font-small: clamp(0.85rem, 4vw, 0.9rem) / 1.7 var(--font-family-ui);
}



/* Page layout */
main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/LibreBaskerville-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
